.input {
    font-size: 24px;
    font-weight: 400;
    font-family: Inter;
    color: #000;
    border: none;
    border-bottom: 5px solid #000;
    padding: 4px 0 10px 0;
    width: 100%;
    background: none;
    transition: border 0.3s ease;
}

.input:focus {
    outline: none;
    border-bottom-color: #FC0839;
}