.wrap {
  border-radius: 16px;
  padding: 40px 40px 80px;
  position: relative;
  min-width: 320px;
  max-width: 460px;
  width: 100%;
  margin-bottom: 48px;
}

.red {
  background: #fc0839;
  color: #fff;
}
.red .title {
  color: #fff;
}

.brightRed {
  background: #ffc6d2;
}
.white {
  background: white;
}

.title {
  position: absolute;
  bottom: 13px;
  left: 19px;
  font-weight: 600;
}
