.wrap {
    border-radius: 16px;
    background: #FFF;
    color: #000;


    position: relative;
    padding: 30px 36px 88px;
    max-width: 460px;
    min-width: 320px;
    width: 100%;
    box-sizing: border-box;
}

.contentWrap {

}

.title {
    color: #000;
    font-family: Inter;
    font-size: 20px;

    position: absolute;
    bottom: 14px;
    left: 14px;
}

.red {
    background-color: #FFC6D2;
}

.white {
    background-color: #FFFFFF;
}