.input {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    border: none;
    border-bottom: 5px solid #000;
    padding: 6px 0;
}
.input:focus {
    outline: none;
    border-bottom-color: red;
}